@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #8BD51B;
        --color-secondary: #2E5EAA;
        --color-background: #000000;
        --color-card-bg: #08090A;
        --color-text: #FFFFFF;
    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: var(--color-background);
        color: var(--color-text);
    }
}