---
import FilterCheckbox from "./FilterCheckbox.astro";
---

<div class="mb-6">
    <h3 class="font-medium text-text mb-3">Connectivity</h3>
    <div class="space-y-2">
        <FilterCheckbox
            label="Wireless"
            value="wireless"
            id="filter-wireless"
        />
        <FilterCheckbox label="Wired" value="wired" id="filter-wired" />
    </div>
</div>
